[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/upload_progress"]
	path = vendor/plugins/upload_progress
	url = git://github.com/rails/upload_progress.git
