<% form_for(@tweet) do |f| %>
  <%= f.error_messages %>

  <p>
    Your tweet:
    <br /><br />
    <%= f.text_area :message, :rows => 5 %>
  </p>

  <%= hidden_field(:tweet, :picture_id) %>

  <%= f.submit 'save' %>
<% end %>
