#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

h1 {
  font:  150% sans-serif;
  color: #226;
  border-bottom: 3px dotted #77d;
}

img { border: 0; }


/* Styles for browse/index */

#pitcure-list .list-line-even {
  background:   #e0f8f8;
}

td {
  text-align: center;
}

#picture-list .list-line-odd {
  background:   #ccffcc;
}
