<h1>
  <b><%= @username %></b>'s pictures:
</h1>

<h2>newest pictures first:</h2>

<div align="center">

<% if @pictures.size == 0 %>
  <i>No pictures found.</i>
<% else %>

  <div id="images-frame">

  <% number_of_pictures = 0 %>
  <% for picture in @pictures %>
  <% number_of_pictures += 1 %>

      <%= link_to image_tag(pictures_thumb_dir + "#{picture.user.login}/#{picture.filename}"),
            pictures_root_dir + "#{picture.user.login}/#{picture.filename}",
            { :rel => "lightbox[pictures]", :title => picture.name } %>
      <%= link_to image_tag("details.png"), picture_path(picture) %>
      &nbsp;&nbsp;

      <% if (number_of_pictures % @pictures_in_a_row == 0) %>
      <br />
  <% end %>

  <% end %>

    </div>

<% end %>

    <%= render :partial => "shared/pages_navigation" %>

</div>
