<h1>
  <b><%= @username %></b>'s pictures:
</h1>

<h2>newest pictures first:</h2>

<div align="center">

<% if @albums.size == 0 %>
  <i>This user has not uploaded any picture yet.</i>
<% else %>

  <div id="images-frame">

  <% number_of_albums = 0 %>
  <% for album in @albums %>
  <% number_of_albums += 1 %>

      <%= link_to image_tag("album.png"), album_path(album) %>
      &nbsp;&nbsp;

      <% if (number_of_albums % @pictures_in_a_row == 0) %>
      <br />
  <% end %>

  <% end %>

    </div>

<% end %>

    <%= render :partial => "shared/pages_navigation" %>

</div>
