<h1>
  <b><%= @username %></b>'s albums:
</h1>

<h2>newest albums first:</h2>

<div align="center">

<% if @albums.size == 0 %>
  <i>This user has not uploaded any picture yet.</i>
<% else %>

  <div id="images-frame">

  <% number_of_albums = 0 %>
  <% for album in @albums %>
  <% number_of_albums += 1 %>

      <span style="position: relative; top: -70px;">
        <%= image_tag('album.png') %>
      </span>
      <%= link_to album_title_picture(album), album_path(album), :title => album.name %>
      &nbsp;&nbsp;

      <% if (number_of_albums % @pictures_in_a_row == 0) %>
      <br />
  <% end %>

  <% end %>

    </div>

<% end %>

    <%= render :partial => "shared/pages_navigation" %>

</div>
