<% if logged_in? %>
  <div align="center">
    <div id="user-actions">

      <ul>
        <li>
          <%= link_to image_tag("upload.png"), new_picture_path %>
          <%= link_to 'upload a picture', new_picture_path %>
        </li>

        <br />
        <li>import a folder (<i>coming soon</i>)</li>
        <li>download from URL (<i>coming soon</i>)</li>

        <br />
        <li>
          <%= link_to 'manage your pictures', own_managers_path %>
        </li>
      </ul>

    </div>
  </div>
<% end %>
