<h1>Browsing: everything</h1>

<div align="center">
  <div id="images-frame">

<% number_of_pictures = 0 %>
<% for picture in @pictures %>
<% number_of_pictures += 1 %>

    <%= link_to image_tag(get_pics_root + picture.thumb_path),
        get_pics_root + picture.path,
        { :rel => "lightbox[pictures]", :title => picture.name } %>
    <%= link_to image_tag("details.jpg"), picture_path(picture) %>
    &nbsp;&nbsp;

<% if (number_of_pictures % @pictures_in_a_row.to_i == 0) %>
  <br />
<% end %>

<% end %>

  </div>
</div>
