<h1>Browsing: everything</h1>

<div align="center">

<% number_of_pictures = 0 %>
<% for picture in @pictures %>
<% number_of_pictures += 1 %>

    <%= link_to image_tag(get_pics_root + picture.thumb_path),
        get_pics_root + picture.path,
        { :rel => "lightbox[pictures]", :title => picture.name } %>

<% if (number_of_pictures % 5 == 0) %>
  <br />
<% end %>

<% end %>

</div>
