<h1>Browsing: everything</h1>

<h2>newest pictures first:</h2>

<div align="center">

<% if @pictures.size == 0 %>
  <i>No pictures found.</i>
<% else %>

  <div id="images-frame">

  <% number_of_pictures = 0 %>
  <% for picture in @pictures %>
  <% number_of_pictures += 1 %>

      <%= link_to image_tag(get_pics_root + picture.thumb_path),
          get_pics_root + picture.path,
          { :rel => "lightbox[pictures]", :title => picture.name } %>
      <span style="position: relative; left: 2px;">
        <%= link_to image_tag("details.png"), picture_path(picture) %>
      </span>
      <span style="position: relative; top: -18px; left: -25px">
        <%= link_to image_tag("user.png", :alt => picture.user.login), user_path(picture.user.id) %>
      </span>

  <% if (number_of_pictures % @pictures_in_a_row == 0) %>
      <br />
  <% end %>

  <% end %>

    </div>

<% end %>

    <%= render :partial => "shared/pages_navigation" %>

</div>
