<h2>Upload a new picture:</h2>

<div class="centered-box">

<% form_for :picture, :html => { :multipart => true }, \
    :url => { :action => :create } do |f| %>

  1/ Find it on your computer:<br /><br />
  <%= file_field(:picture, :file) %>

  <br /><br /><br />

  2/ Give it a friendly name:<br /><br />
  <%= f.text_field :name, :size => 40 %>

  <br /><br /><br />

  3/ All done!<br /><br />
  <%= submit_tag "Upload" %>

<% end %>

</div>
