<div align="center" id="wrap">
  <%= image_tag(get_pics_root + @picture.path, :class => 'small') %>
  <br /><br />
  <u><%= @picture.name %></u>
</div>

<%= link_to image_tag("user.png"), user_path(@user) %>
<%= link_to @user.login, @user %>
