<div align="center" id="wrap">

  <%= image_tag(
        pictures_root_dir + "#{@picture.user.login}/#{@picture.filename}",
        :class => 'small'
      ) %>

  <br /><br />
  <u><%= @picture.name %></u>
</div>

<%= link_to image_tag('user.png'), @user %>
<%= link_to @user.login, @user %>
